@import 'vars.css';
@import 'layout.css';
@import 'mobile.css';
@import 'typography.css';



html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.25;
}



* {
    box-sizing: border-box;
}

body {
     margin: 0px; 
    padding: 0px; 

    background-color: #e3e3e3;

}

/* .canvas-container {
    width: 60vw; 
   height: 60vw; 

} */


.img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
    height: 200px;

    flex-grow: 0;
    flex-shrink: 0;
    /* color: rgb(0, 0, 0); */

    /* background-color: rgb(56, 139, 212); */
}

.hidden {
    display: none;
}





img {
    width: 100%;
    cursor: pointer;
}

.btn {
    width: 3.75em;
    border: 1px solid var(--clr1);
    height: 3.75em;
    border-radius: 1em;
    background-color: var(--clr1);
    cursor: pointer;
    
}


.full {
    background-color:var(--clr0);
}




.color-picker {
    background-image: url('/ICONS/paint-board-and-brush.png');
}

a , .item {
    color: var(--clr-2);
    text-decoration: none;
    cursor: pointer;
}


.actions {
    background-color: var(--clr0);
    color: var(--clr1);
    height: 3.75em;
    border: 1px solid var(--clr0);
    width: 5.5em;
    border-radius: 7px;
    cursor: pointer;
}

.trans{
    border-radius: 0.5rem;
    margin: 0.3em;
    width:3.1em;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.line{
    color : black;
    background-color :white;

    width: 11em;
   height: 3em;

    border-radius: 5em;
    
}


.direc{
   
    text-align: center;
    padding-top: 0.1em;

}
.arrow{
    font-size: 2.5em;
    width: 2em;
}